* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Superior Title';
  font-style: normal;
  src: url(../assets/st-regular.otf) format('opentype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  src: url(../assets/FiraMono-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Pragmata Pro';
  font-style: normal;
  src: url(../assets/Pragmata-Pro-Regular.otf) format('opentype');
}
